@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1360px;
    margin: auto;
    font-family: $primary-font;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        list-style:none;
        padding: $padding-y-container;

        li{
            display: inline-block;

            a{
                padding: 10px;
                text-decoration: none;
                letter-spacing: -1px;
                color: black;

                &:hover{
                    color: $primary-color
                }
            }
        }
    }
}

main{
    background-color: black;
    color: white;
    padding: $padding-y-container;

    p{
        font-size: 30px;
    }
}